html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    /* Font Smoothing Below*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    padding: 8px;
}

.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
}

.logo a {
    font-family: 'Orbitron', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0;
    text-decoration: none;
}


/* Hides the input checkbox field on desktop and mobile */

.hidden {
    display: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    /*This makes LI and the A tag the same dimensions*/
    font-family: 'Advent Pro', sans-serif;
    display: inline-block;
    outline: none;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1.2px;
    font-weight: 1;
    text-transform: uppercase;
}

@media screen and (max-width: 864px) {
    .logo {
        padding: 0;
    }
    .optional-menu {}
    .nav-wrapper {
        /* Creates the mobile navigation Overlay and covers viewport because it's set to fixed */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #fff;
        opacity: 0;
        transition: all 0.2s ease;
    }
    .nav-wrapper ul {
        /* Places the Navigation Links in the center of page vertically */
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .nav-wrapper ul li {
        /* Removes nav items from being inline and stacks them */
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }
    /* Creates the transition effect on mobile */
    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }
    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }
    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }
    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }
    .nav-wrapper ul li:nth-child(5) a {
        transition-delay: 0.6s;
    }
    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }
    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }
    .nav-btn {
        /* Creates the mobile hamburger button and positions on the right side */
        position: fixed;
        outline: 0;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 10;
        border-radius: 50%;
    }
    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
    }
    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }
    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
    #nav:checked+.nav-btn {
        transform: rotate(45deg);
    }
    #nav:checked+.nav-btn i {
        background: #000;
        transition: transform 0.2s ease;
    }
    #nav:checked+.nav-btn i:nth-child(1) {
        transform: translateY(6px) rotate(180deg);
    }
    #nav:checked+.nav-btn i:nth-child(2) {
        opacity: 0;
    }
    #nav:checked+.nav-btn i:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
    }
    #nav:checked~.nav-wrapper {
        opacity: 1;
        z-index: 9;
    }
    #nav:checked~.nav-wrapper ul li a {
        opacity: 1;
        transform: translateX(0);
    }
    #nav:checked+.nav-btn i {
        background-color: #000;
    }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 5rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: -3rem;
}

h2 {
    font-family: 'Michroma', sans-serif;
    font-size: 5rem;
    text-align: center;
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    right: -6px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li h3 {
    padding: 0;
    margin: 0;
    color: rgba(233, 33, 99, 1);
    font-weight: 600;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

@media(max-width:1000px) {
    .timeline {
        width: 100%;
    }
}

@media(max-width:767px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;
    }
    .h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    .timeline:before {
        left: 20px;
        height: 100%;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }
    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}