body {
    font-family: 'Gugi', cursive;
}

::-webkit-scrollbar {
    display: none;
}

header .carousel-inner .item {
    height: 100%;
    padding: 30px 15px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    position: -webkit-sticky;
    position: sticky;
    text-decoration-line: none;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 4rem;
    padding: 30px 15px;
    font-weight: 900;
}

.nav.navbar-nav.navbar-right {
    margin: 25px 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    padding: 4.7px 15px;
}

.carousel-caption {
    padding-bottom: 250px;
    font-family: poppins;
}

.carousel-caption h2 {
    color: #d62879;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
}

.carousel-caption h2 span {
    color: #fcfaf6;
}

.carousel-caption a {
    text-decoration-line: none;
    background: #EDBB00;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    font-size: 20rem;
    color: #fff;
    text-transform: uppercase;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.carousel-indicators .active {
    background-color: #EDBB00;
    border-color: #EDBB00;
}


/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        padding-bottom: 350px;
    }
    .carousel-caption h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-inverse .navbar-brand {
        font-size: 30px;
        padding: 20px 15px;
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, 0.5);
    }
    .carousel-caption {
        padding-bottom: 120px;
    }
    .carousel-caption h2 {
        font-size: 25px;
    }
    .carousel-caption h3 {
        font-size: 18px;
    }
    .carousel-caption a {
        padding: 10px 25px;
    }
}

BODY {
    background: #282931;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    text-decoration-line: none;
}

h1 {
    font-family: 'MuseoModerno', cursive;
    size: 100rem;
    margin: 24px 0;
    color: white;
}

h3 {
    color: #ffffff;
    margin: 24px 0;
}

h6 {
    line-height: 24px;
}

h6 span {
    color: white;
    line-height: 12px;
}

h99 {
    margin: 24px 0;
    color: white;
    font-size: 10rem;
    font-weight: 500;
    text-decoration-line: none;
}

p {
    line-height: 24px;
    margin: 24px 0;
    color: #bbbbc4;
    text-decoration-line: none;
}

a {
    color: #bbbbc4;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
    text-decoration-line: none;
}

a:hover {
    color: #fc3565;
    text-decoration-line: none;
}


/* Design */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #ecf9ff;
}

body {
    color: #272727;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 0.2rem solid #fc3565;
    background: transparent;
}

.btn:hover {
    background-color: none;
    color: #fc3565;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
    color: #fc3565;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #000000;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}